{% extends 'LePetitCoinFrontBundle::base.html.twig' %}

{%block title %} {{parent()}} - Accueil {% endblock %}
{%block body %} {{parent()}}
{% endblock %}
 {% block contenu %}
     
     <p class="liste10"> Liste des 10 derniers articles ajoutés sur notre site. </p>
     {% for i in 0..4 %}
         <div class="article">
<h3>Article  i</h3>
         
        Oportunum est, ut arbitror, 
        explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis 
        maioribus nobilem,
        ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides. 
        <hr>
        </div>
      {% endfor %}
     
    
        
        
        
    {% endblock %}