{% extends 'LePetitCoinFrontBundle::base.html.twig' %}

{%block title %} {{parent()}} - Publier {% endblock %}

{% block contenu %}
    <h2>Formulaire de publication d'annonce</h2>
    
    
{% endblock %}