{% extends 'LePetitCoinFrontBundle::base.html.twig' %}

{% block title %} {{parent()}} - Annonce{%endblock%}

{% block contenu %}
    <h2>Annonces</h2>
    <div class="annonce">
        <p class="content">Annonces en ligne</p>
        {#        {{title}}#}
        {#        {{tabAnnonce.description}}#}
        <p class="details">
            Le <span class="datetime">11/09/2018</span>
            par <span class="author">{{ |title}}</span>
        </p>
    </div>
    {#   {%for value in tabAnnonce%}
       {%endfor%}#}
{% endblock %}
